{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
