@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --radius-field: 2rem;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(26% 0 0);
  --color-base-300: oklch(37% 0 0);
  --color-base-content: oklch(98% 0 0);
  --radius-field: 2rem;
}

/* To avoid layout shift */
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
