@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  color-scheme: light dark;

  --bg1: #f3f3f3;
  --bg2: #fbfbfb;
  --bg3: #f6f6f6;
  --clr1: #1a1a1a;
  --clr2: #5d5d5d;
  --clrPrm: #0067c0;

  --clrPrmHSL: 208deg 100% 38%;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bg1);
  color: var(--clr1);
}

h1,
h2,
h3 {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
}

a {
  color: var(--clrPrm);
  text-decoration: none;
}

.btnBox {
  display: flex;
  gap: 1rem;

  .btn {
    flex-grow: 1;
    text-align: center;
  }
}
.btn {
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--clrPrm);
  color: var(--bg1);

  &:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 10%);
  }
}
.btn-github {
  background: #333;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  height: 3rem;
  width: 100%;
  background: var(--bg2);
  border-bottom: 2px solid var(--bg3);
  border-radius: 0 0 8px 8px;
  // box-shadow: 0.5rem 0.5rem 1rem hsl(var(--clrPrmHSL) / 10%);

  a {
    font-family: "Roboto Mono", monospace;
    color: inherit;
    transition: all 200ms;
    padding: 4px 8px;
    border-radius: 4px;

    &:hover {
      background: var(--bg3);
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 3rem 1rem;
  gap: 4rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.5rem;
  }
}

.cardBox {
  background: var(--bg2);
  padding: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid var(--bg3);
}

#about {
  padding-top: 3rem;
}

.abCont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.about,
.skills {
  gap: 0.75rem;
}
.skills p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.projectCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  width: 100%;

  .projectCard {
    width: 20rem;
    gap: 1rem;

    h3 {
      font-size: 1.33rem;
    }

    img {
      border-radius: 6px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

footer {
  background: var(--bg2);
  border-top: 2px solid var(--bg3);
  border-radius: 8px 8px 0 0;
  padding: 1rem;
  text-align: center;

  a:hover {
    background: var(--bg3);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #202020;
    --bg2: #2b2b2b;
    --bg3: #323232;
    --clr1: #ffffff;
    --clr2: #cccccc;
    --clrPrm: #4cc2ff;

    --clrPrmHSL: 200deg 100% 65%;
  }
}
